@media screen and (max-width: 450px) {
    body{
        width: 100%;
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: 'League Spartan';
    }

    .big-container .content .para img{
        width: 95%;
        padding: 0%;
        margin: 0%;
        
    }
}