.slider .slider_text .slider_text_tools_h1{
    padding-top: 10px; 
    line-height: 60px; 
    font-size: 55px; 
    margin-top: 50px;                
}

/* -----------------Our Tools----------------------- */
.ourtoolstext h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 4%;
}

/* ---------------------Online Code Editor CSS------------------------- */
.tools_online_code_editor_box {
    background-color: #f1e9ff;
    height: 400px;
    width: 100%;
    display: inline-block;
}


.tools_online_code_editor_box .tools-editor {
    float: left;
    padding: 10px;
    display: inline;
}

.tools_online_code_editor_box .tools-editor .tools_editor_img_logo {
    width: 120%;
    margin-left: 7%;
    margin-top: 7%;
}

.tools_online_code_editor_box .tools-code-editor {
    margin-top: 25px;
    display: inline-block;
    margin-left: 20%;
    
}

.tools_online_code_editor_box .tools-code-editor button {
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    background-color: #7b0dbb;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}


.tools_online_code_editor_box .tools-code-editor button:hover{
    background-color: #ffffff;
    color: #4e0296;
    transition: 0.7s;
}

.tools_online_code_editor_box:hover {
    background-color: #4e0296;
    color: #ffffff;
    transition: 1s;
}



/*--------------colour picker-------------------- */
.tools_online_code_color_box {
    width: 100%;
    height: 400px;
}

.tools_online_code_color_box .tools-code-color {
    margin-left: 7%;
    float: left;
}

.tools_online_code_color_box .tools-code-color button{
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    background-color: #7b0dbb;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.tools_online_code_color_box .tools-color .tools_color_image {
    float: right;
    width: 350px;
    margin-right: 15%;
}

.tools_online_code_color_box:hover {
    background-color: #4e0296;
    color: #ffffff;
    transition: 1s;
}

.tools_online_code_color_box button:hover {
    background-color: #ffffff;
    color: #4e0296;
    transition: 0.7s;
}

/* ---------wave Genretor--------- */
.tools_online_wave_box {
    background-color: #f1e9ff;
    height: 400px;
    width: 100%;
    display: inline-block;
}


.tools_online_wave_box .tools-wave {
    float: left;
    padding: 10px;
    display: inline;
}

.tools_online_wave_box .tools-wave .tools_wave_image {
    margin-left: 20%;
    margin-top: 15%;
    width: 95%;
    border-radius: 8px;
}

.tools_online_wave_box .tools_wave_text {
    margin-top: 35px;
    padding: 10px;
    display: inline-block;
    margin-left: 21%;
}

.tools_online_wave_box .tools_wave_text button {
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    background-color: #7b0dbb;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}


.tools_online_wave_box .tools_wave_text button:hover{
    background-color: #ffffff;
    color: #4e0296;
    transition: 0.7s;
}


.tools_online_wave_box:hover {
    background-color: #4e0296;
    color: #ffffff;
    transition: 1s;
}

/* ----------------------------------------------------mobile view css------------------------------------------------- */

.tools-wave-text {
    margin-top: 35px;
    padding: 10px;
    display: inline-block;
    margin-left: 13%;
}

.tools-wave-text button {
    padding: 1px 15px;
    border-radius: 15px;
    border: none;
    background-color: #7b0dbb;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
}


/* ----------------------- Tools elements Code For website-------------------- */
.tools_elements_coding_website_css_box {
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
}

.tools_elements_coding_website_css_box .tools-element-code {
    margin-top: 35px;
    padding: 10px;
    float: left;
    margin-left: 7%;
}


.tools_elements_coding_website_css_box .tools-element-image .tools_element_image_online_code {
    float: right;
    margin-right: 18%;
}


.tools_elements_coding_website_css_box .tools-element-image .tools_element_image_online_code {
    width: 400px;
}


.tools_elements_coding_website_css_box:hover {
    background-color: #4e0296;
    color: #ffffff;
    transition: 1s;
}


.tools-element-code button {
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    background-color: #7b0dbb;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
.tools-element-code button:hover{
    background-color: #ffffff;
    color: #4e0296;
    transition: 0.7s;
}

.tools-element-image img {
    float: right;
    margin-top: 60px;
    margin-right: 7%;
}



/* 
.tools-color {
    padding: 10px;
    display: inline;
}

.tools-color img {
    margin: 2%;
    margin-left: 25%;
} */

.tools-code-color {
    padding: 10px;
    display: inline-block;
    margin-left: 10%;
}

.tools-code-color button {
    padding: 1px 15px;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    background-color: #4e0296;
    font-size: 24px;
}


.baatcodingkitools{
    z-index: 15;
}